<div *ngIf="!room">
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div *ngIf="isAlertOpen" class="alert-window">
    <div class="alert alert-for-success alert-success d-flex align-items-center" role="alert">
        <div class="text-box">
            You successfully book this offer! You will be redirected to the booking page after 5 seconds.
        </div>
    </div>
</div>

<div *ngIf="isOpenRemoveDialog" class="align-items-center fixed-error" role="alert">
    <div class="dialog position-absolute top-50 start-50 translate-middle">
        Are you sure you want to delete this offer?
        <br />
        <button (click)="removeOffer()">Yes</button>
        <button (click)="closeDialog()">No</button>
    </div>
</div>

<div class="room-container">
    <div class="room-image">
        <img src="{{room.image}}" alt="Room Image">
    </div>
    <div class="room-details">
        <h2>{{room.name}}</h2>
        <p>Owner: <span class="owner-name" (click)="openProfile(room.ownerProfile)">{{room.ownerName}}</span></p>
        <p>Size: {{room.size}}sqm</p>
        <p>Occupancy: {{room.people}} People</p>
        <p>Location: {{room.city}}, {{room.country}}</p>
        <p>Price: ${{room.price}} per night</p>
        <p>Description: {{room.description}}</p>
        <button *ngIf="user && user._id === room._ownerId" (click)="editOffer()">Edit offer</button>
        <button *ngIf="user && user._id === room._ownerId" (click)="openRemoveDialog()">Remove offer</button>
        <button (click)="booking()" *ngIf="user && user._id !== room._ownerId">Book Now</button>
    </div>
</div>

<div class="room-amenities">
    <h2>Amenities</h2>
    <ul>
        <span *ngFor="let amenitie of amenities">
            <li *ngIf="room[amenitie]">{{amenitie}}</li>
        </span>
    </ul>
</div>

<!-- <div class="room-gallery">
    <h2>Room Gallery</h2>
    <div class="gallery-images">
        <img src="assets/img/room-1.jpg" alt="Gallery Image 1">
        <img src="assets/img/room-1.jpg" alt="Gallery Image 2">
        <img src="assets/img/room-1.jpg" alt="Gallery Image 3">
    </div>
</div> -->

<section class="reviews-section">
    <h2>Reviews</h2>
    <div *ngIf="user && user._id !== room._ownerId">
        <label for="review">Leave review:</label>
        <textarea class="text-area-review" id="review" #review name="review" (change)="changeReviewContent(review.value)"></textarea>
        <button class="btn btn-primary" (click)="postReview()">Post</button>
    </div>
    <div *ngIf="reviews && reviews.length > 0" class="reviews-container">
        <div *ngFor="let review of reviews" class="review-item">
            <h5 class="user-nickname" (click)="openProfile(review.profileId)">{{review.ownerName}}</h5>
            <p>{{review.content}}</p>
            <button class="delete-button" *ngIf="user && review._ownerId === user._id" (click)="deleteReview(review._id)">Delete</button>
        </div>
    </div>
    <div *ngIf="!reviews || reviews.length === 0" class="reviews-container">
        <h3>No have any reviews!</h3>
    </div>
</section>