<div *ngIf="room" class="form-container">

    <div *ngIf="haveError" class="alert alert-danger d-flex align-items-center fixed-error" role="alert">
        <div>
            {{ errorMessage }}
        </div>
    </div>

    <form #addOfferForm="ngForm" (ngSubmit)="addOfferHandler(addOfferForm)">
        <div class="form-group">
            <label for="name">Room name:</label>
            <input type="text" id="name" name="name" [ngModel]="room.name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" [ngModel]="room.description" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" [ngModel]="room.image" required>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" [ngModel]="room.city" required>
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" [ngModel]="room.country" required>
        </div>
        <div class="form-group">
            <label for="people">Occupancy:</label>
            <input type="number" id="people" name="people" [ngModel]="room.people" required>
        </div>
        <div class="form-group">
            <label for="bath">Num of bath:</label>
            <input type="number" id="bath" name="bath" [ngModel]="room.bath" required>
        </div>
        <div class="form-group">
            <label for="size">Size in sqm:</label>
            <input type="number" id="size" name="size" [ngModel]="room.size" required>
        </div>
        <!-- <div class="form-group">
            <p>Images:</p>
            <div *ngFor="let img of galleryImages">
                <input type="text" [id]="'img' + galleryImages.indexOf(img)" [name]="img + galleryImages.indexOf(img)" [ngModel]="galleryImages[galleryImages.indexOf(img)]" required>
                <div *ngIf="galleryImages.length > 1" class="form-group button">
                    <button class="btn btn-primary" type="button" (click)="removeImage(img)">Remove</button>
                </div>
                Add (one add button) and Remove button (remove buttuns for evry fields if they are more than 1) 
                da go napravq kato dolniq select shte dam referenciq s #img ili neshto unikalno i posle shte go ||| vse taq tova koeto mislqh maj ne mi trqbva ||| ostavqm go za vseki sluchai 
            </div>

            <div class="form-group button">
                <button class="btn btn-primary" type="button" (click)="addImage()">Add Image</button>
            </div>
        </div> -->


        <!-- <div class="form-group">
            <label for="stars">Stars:</label>
            <select class="form-select" #stars (change)="setStars(stars.value)" id="stars"
                aria-label="Default select example">
                <option selected disabled value="0">Select stars</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div> -->


        <!-- <div class="form-group">
            <p>Amenities:</p>
            <span *ngFor="let amenitie of amenities">
                <input type="checkbox" class="check" [id]="amenitie" [name]="amenitie" [ngModel]="false">
                <label class="btn btn-primary amenities-label"
                    [ngClass]="addOfferForm.value[amenitie] ? 'selected' : 'notSelected'"
                    [for]="amenitie">{{amenitie}}</label>
            </span>

        </div> -->

        
        <div class="form-group">
            <label for="price">Price per night:</label>
            <input type="number" id="price" name="price" [ngModel]="room.price" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Offer</button>
        </div>
    </form>
</div>