<div *ngIf="room" class="form-container">

    <div *ngIf="haveError" class="alert alert-danger d-flex align-items-center fixed-error" role="alert">
        <div>
            {{ errorMessage }}
        </div>
    </div>

    <form #addOfferForm="ngForm" (ngSubmit)="addOfferHandler(addOfferForm)">
        <div class="form-group">
            <label for="name">Offer name:</label>
            <input type="text" id="name" name="name" [ngModel]="room.name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" [ngModel]="room.description" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" [ngModel]="room.image" required>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" [ngModel]="room.city" required>
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" [ngModel]="room.country" required>
        </div>
        <div class="form-group">
            <label for="people">Occupancy:</label>
            <input type="number" id="people" name="people" [ngModel]="room.people" required>
        </div>
        <div class="form-group">
            <label for="bath">Num of bath:</label>
            <input type="number" id="bath" name="bath" [ngModel]="room.bath" required>
        </div>
        <div class="form-group">
            <label for="size">Size in sqm:</label>
            <input type="number" id="size" name="size" [ngModel]="room.size" required>
        </div>

        <div class="form-group">
            <label for="stars">Stars:</label>
            <select class="form-select" #starsInput (change)="setStars(starsInput.value)" id="stars"
                aria-label="Default select example">
                <option [selected]="stars === '0'" value="0">0</option>
                <option [selected]="stars === '1'" value="1">1</option>
                <option [selected]="stars === '2'" value="2">2</option>
                <option [selected]="stars === '3'" value="3">3</option>
                <option [selected]="stars === '4'" value="4">4</option>
                <option [selected]="stars === '5'" value="5">5</option>
            </select>
        </div>


        <div class="form-group">
            <p>Amenities:</p>
            <span *ngFor="let amenitie of amenities">
                <input type="checkbox" class="check" [id]="amenitie" [name]="amenitie" (change)="updateAmenities(amenitie)" [ngModel]="room[amenitie]">
                <label class="btn btn-primary amenities-label"
                    [ngClass]="room[amenitie] ? 'selected' : 'notSelected'"
                    [for]="amenitie">{{amenitie}}</label>
            </span>

        </div>

        
        <div class="form-group">
            <label for="price">Price per night:</label>
            <input type="number" id="price" name="price" [ngModel]="room.price" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Edit Offer</button>
        </div>
    </form>
</div>