<div class="form-container">
    <form #addOfferForm="ngForm" (ngSubmit)="addOfferHandler(addOfferForm)">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" ngModel required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" ngModel required></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" ngModel required>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" ngModel required>
        </div>
        <div class="form-group">
            <label for="image">Location:</label>
            <input type="text" id="image" name="location" ngModel required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Offer</button>
        </div>
    </form>
</div>