<div *ngIf="isAlertOpen" class="alert-window">
    <div class="alert alert-for-success alert-success d-flex align-items-center" role="alert">
        <div class="text-box">
            You have successfully sent your message! You will be redirected to the main page after 5 seconds.
        </div>
    </div>
</div>

<div *ngIf="haveError" class="alert alert-danger d-flex align-items-center fixed-error" role="alert">
    <div>
        {{ errorMessage }}
    </div>
</div>



<div class="wow fadeInUp" data-wow-delay="0.2s">
    <form #contactForm="ngForm" (ngSubmit)="formHandler(contactForm)">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" ngModel
                        required>
                    <label for="name">Your Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" ngModel
                        required>
                    <label for="email">Your Email</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ngModel
                        required>
                    <label for="subject">Subject</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a message here" id="message" name="message"
                        ngModel style="height: 150px" required></textarea>
                    <label for="message">Message</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
            </div>
        </div>
    </form>
</div>